@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

body {
  font-family: Arial, Helvetica, sans-serif;
}

input, select, textarea {
  color: #111827 !important;
}
input::placeholder, textarea::placeholder {
  color: #9ca3af !important;
}
.dark input, .dark select, .dark textarea {
  color: #f9fafb !important;
}
.dark input::placeholder, .dark textarea::placeholder {
  color: #6b7280 !important;
}
